.photo__grid {
  width: 100%;
  max-width: 1184px;
  margin: auto;
  /*margin-top: 38px;*/
  /*margin-bottom: 92px;*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  padding-top: 165px;
  gap: 16px;
  box-sizing: border-box;
}

/*@media screen and (max-width: 768px) {
  .photo__grid {
    margin-top: 0px 25px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 540px) {
  .photo__grid {
    margin: 0px 10px 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}*/
